.color_boton{
    background-color: blueviolet;
    font-style: oblique;
    font-size: large;
    font-family: sans-serif;
}
.contenido{
    font-size: x-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    border-color: black;
    padding-left: 52PX;
}
.imagen{
    height: 100px;
    width: 100px;
    color: yellow;
}
.imagen2{
    height: 180px;
    width: 200px;
    
}
#noticias{
    border-radius: 10px;
    color: rgb(88, 12, 78)
}
.color_boton1{
    background-color: rgb(217, 231, 17);
    font-style: oblique;
    font-size: large;
    font-family: sans-serif;
    border-radius: 10px;
}
.asistencia{
    font-style: oblique;  
    font-size: 40px;
}