
  ion-content::part(background) {
    background: #99249C;
  }
  
  ion-content::part(scroll) {
    color: #fff;
  }
.color{
    background: #5c195e;
  }
.titulo{
    font-size: xx-large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border-color: blueviolet;
}
