
.imagen2{
    height: 150px;
    width: 150px;
}
.titulo{
    color: black;
    font-style: italic;
    font-size: x-large;
}
.subtitulo{
    color: gray;
    font-style: inherit;
    font-size: large;
}