<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
       </ion-button>
    </ion-buttons>

    
    <ion-title >Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
<center><p class="texto">A continuacion estan las asignaturas asignadas a: USUARIO. Eliga la asignatura correspondiente</p></center>
<br>
<br>
<br>
      <!-- Round -->
      <center><ion-button shape="round" class="boton" color="#E033FF" routerLink="/secciones1">PROGRAMACION DE APLICACIONES MOVILES</ion-button></center>
      <br>
      <br>
      <!-- Round -->
      <center><ion-button shape="round" class="boton" color="#E033FF" routerLink="/secciones1">PROCESO DE PORTAFOLIO</ion-button></center>
      <br>
      <br>
      <!-- Round -->
      <center><ion-button shape="round" class="boton" color="#E033FF" routerLink="/secciones1">ETICA PARA EL TRABAJO</ion-button></center>
</ion-content>
