ion-content{
    --overflow: hidden;
}
.texto{
    font-size: xx-large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border-color: black;
}
.boton{
    background-color: blueviolet;
    font-style: oblique;
    font-size: medium;
    font-family: sans-serif;
    width: 300px;
    height: 60px;
}
ion-content::part(background) {
    background: #99249C;
  }
  
  ion-content::part(scroll) {
    color: #fff;
  }