.parrafo{
    color:white;
    font-size: large;
    font-style: italic;
    
}
.imagen2{
    height: 300px;
    width: 300px;
}
.titulo{
    color:white;
    text-align: justify;
    font-size: x-large;
    font-style: italic;
}
.wifi{
    color:green;
}

.walk{
    color:aqua;
}

.warning{
    color:red;
}

ion-content{
    --overflow: hidden;
}